/* Update default tailwind base styles with our body styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Add a background image to the body. */
  background-image: url('/bg2.jpg');

  /* Make sure the image always covers the full viewport. */
  background-size: cover;

  /* Position the background image in the center of the viewport. */
  background-position: center center;

  /* Do not repeat the background image. */
  background-repeat: no-repeat;
}

.downlight {
  /* Needed to make the pseudo element stay within the bounds of the parent element. */
  position: relative;
  z-index: 30;
}

/* The pseudo element is now responsible for the background image. */
.downlight::after {
  content: "";
  z-index: -1;
  
  /* Make the pseudo element fill the entire parent element. */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Add a background image. */
  background-image: url('/bg1.jpg');

  /* Make sure the image always covers the full viewport. */
  background-size: cover;

  /* Position the background image in the center of the viewport. */
  background-position: center center;

  /* Do not repeat the background image. */
  background-repeat: no-repeat;

  /* Make background transparent */
  opacity: 0.1;
}

/* Style the scrollbars */

::-webkit-scrollbar {
  /* Set the scrollbar width to 10px. */
  width: 10px;
}

::-webkit-scrollbar-track {
  /* Make the track of the scrollbar transparent. */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* Set the thumb of the scrollbar to have a 5px border radius. */
  border-radius: 5px;

  /* Make the thumb of the scrollbar transparent. */
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  /* Make the corner of the scrollbar transparent. */
  background-color: transparent;
}

:hover::-webkit-scrollbar-thumb:hover {
  /* Change the color of the thumb on hover to a visible color, with 87% opacity. */
  background-color: #ffffffdd;
}

:hover::-webkit-scrollbar-thumb {
  /* Change the color of the thumb on general hover to a visible color, with 60% opacity. */
  background-color: #ffffff99;
}